    <footer>
        <div class="container-fluid text">
            <div class="row justify-content-center text-center">
                <div class="col align-self-center">
                    <p>Estamos Ubicados en Av. San Juan #303, col. Cruz Grande, Yuriria, Gto.</p> 
                    <p>Contactanos: 445 123 4578</p>
                    <p>&regDulce Pan 2021</p>
                </div> 
            </div>
        </div>
    </footer>
</body>
</html>